*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    background: linear-gradient(90deg, #4C1E4F 0%, #FFE7D2 150%);
}

/*Estilo do cabeçalho e da seção um*/
.secao_inicial{
    /*background-color: #FFE7D2;*/
    width: 95%;      
    margin: 15px 50px 15px;    
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    /*background-color: #FFE7D2;*/
    background: linear-gradient(100deg, #FFE7D2 0%, #4C1E4F 150%);
    border-radius: 15px; 
    height: 100px;           
}
.wrapper > img{
    margin: 5px;
    width: 12%;    
}
#link_secoes{

    margin: auto;    
    margin-left: 350px;
}
#link_secoes > a{
    padding: 60px;
    font-family: "nunito", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #2e0f30;    
}
#link_secoes > a:hover{
    text-decoration: underline;
}
.titulos{
    text-align: center;
    padding-top: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 40px;
    color: #2e0f30
}   
/*Estilo da seção tres*/

.secao_tres{
    background: linear-gradient(100deg, #FFE7D2 0%, #4C1E4F 150%);      
    border-radius: 15px;
    width: 95%;
    height: 1000px;        
    margin: 15px 50px 15px;
}
.img_livros{    
    display: flex;
    height: 360px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    float: left;
    margin-left: 5px;
    margin-top: 30px;
}
.img_livros > img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}

.img_livros > a{
    font-size: 16px;
    font-family: "nunito", sans-serif;
    font-weight: bold;
    width: 90%;
}

.img_livros > a:hover{
    text-decoration: underline;
}
.alinhamento_tres{    
    height: 300px;        
    display: flex;
    justify-content: space-between;     
}


.botoes_comprar{
    font-family: "Lexend Deca", sans-serif;
    color: #2e0f30;
    background-color: transparent;
    border: solid 1px;
    padding: 10px 22px;
    border-radius: 15px;
    font-size: 20px;
    display: block;
    width: fit-content;
    margin-right: 10px;
    cursor: pointer;
}

.botoes_desfazer{
    font-family: "Lexend Deca", sans-serif;
    color: #FFE7D2;
    background-color: #4C1E4F;
    border: solid 1px;
    padding: 10px 22px;
    border-radius: 15px;
    font-size: 20px;
    display: block;
    width: fit-content;
    margin-right: 10px;
    cursor: pointer;
}

#rodape_simbolos{    
    margin-top: 500px;
    display: flex;
    justify-content: center; 
                
}
.simbolo{
    list-style: none;
    font-size: 30px;
    color: #2e0f30;
    margin: 0 15px;    

}
.simbolo >a:hover{
    color: #FFE7D2;
}

.secao_final{
    background: linear-gradient(100deg, #FFE7D2 0%, #4C1E4F 150%);
    border-radius: 15px; 
    height: 50px; 
    width: 95%;        
    margin-left: 50px;     
    display: flex;
    justify-content: center;
    align-items: center;   
    
}
.secao_final > p{
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    color: #2e0f30;     
}

/*Começo estilo Responsividade*/
/*1º width - 1800px*/
@media screen and (max-width: 1800px) {
    .wrapper > img{
        margin: 5px;
        width: 15%;
    }  

    #link_secoes > a{
        padding: 30px;    
        font-size: 20px;
    }
    
    #link_secoes{
        margin-left: 90px;
    }
    .secao_inicial{
        margin: 15px 20px 15px;    
    }
    .secao_tres{
        height: 900px;        
        margin: 15px 20px 15px;
    }
    .secao_final{
        margin-left: 20px;     
    }
    #rodape_simbolos{    
        margin-top: 400px;                   
    }
    .img_livros{    
        height: 280px;
        width: 200px;
    }
    .img_livros > img{
        width: 90%;
        height: 70%;
    }    
    .img_livros > a{
        font-size: 15px;
    }

}

/*2º width - 1500px*/
@media screen and (max-width: 1500px) {
    .wrapper > img{
        margin: 5px;
        width: 20%;
    }  

    #link_secoes > a{
        padding: 30px;    
        font-size: 20px;
    }
    
    #link_secoes{
        margin-left: 90px;
    }
    .secao_inicial{
        margin: 15px 20px 15px;    
    }
    .secao_tres{
        height: 1100px;        
        margin: 15px 20px 15px;
    }
    .secao_final{
        margin-left: 20px;     
    }
    #rodape_simbolos{    
        margin-top: 600px;                   
    }
    .img_livros{    
        height: 280px;
        width: 200px;
    }
    .img_livros > img{
        width: 90%;
        height: 70%;
    }    
    .img_livros > a{
        font-size: 15px;
    }

}

/*3º width - 1400px*/
@media screen and (max-width: 1400px) {
    .secao_tres{
        height: 1200px;        
        margin: 15px 20px 15px;
    }
    #rodape_simbolos{    
        margin-top: 700px;                   
    }
}

/*4º width - 1261px*/
@media screen and (max-width: 1261px) {
 
    .wrapper > img{
        margin: 5px;
        width: 20%;
    }  
    #link_secoes{
        margin-left: 0px;        
    }
    #link_secoes > a{
        padding: 40px;        
    }
    .secao_tres{
        height: 1200px;        
        margin: 15px 20px 15px;
    }
    #rodape_simbolos{    
        margin-top: 700px;                   
    }
}

/*5º width - 1079px*/
@media screen and (max-width: 1079px) {
    .secao_tres{
        height: 1500px;        
        margin: 15px 20px 15px;
    }
    #rodape_simbolos{    
        margin-top: 1000px;                   
    }
}
/*6º width - 865px*/
@media screen and (max-width: 865px) {

    .secao_tres{
        height: 1900px;        
        margin: 15px 20px 15px;
    }
    #rodape_simbolos{    
        margin-top: 1200px;                   
    }
    .wrapper > img{
        margin: 5px;
        width: 30%;
    }  
    .secao_inicial{
        margin: 0px;   
    }
    .secao_final{
        margin-left: 0px;  
    }
    #link_secoes > a{
        padding: 15px;        
    }
    .secao_tres{
        height: 1500px;        
        margin: 15px 0px 15px;
    }
}
